.menu {
  position: fixed;
  top: 4vh; /* Adjust based on the height of your header */
  left: 0;
  width: 0;
  height: 100%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0 4px 4px 0;
  overflow: hidden;
  transition: width 0.3s ease;
  z-index: 1000; /* Ensure the menu is above other content */
}

.menu.open {
  width: 10%;
}

.menu-row {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.menu-row:hover {
  background-color: #f0f0f0;
}
